<h1>List of Heroes</h1>

<br>

<ul>
  <% @heros.each do |hero| %>
    <li><%= hero.name %></li>
    <li><%= hero.description %></li>
    <li><%= hero.power %></li>
    <li><%= hero.city %></li>
    <li><%= hero.price %></li>
  <% end %>
</ul>
