<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Herohub</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  </head>
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container px-5">
          <div class="d-flex align-items-center w-100">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "logo.png", style: "height: 50px; width: auto;" %>
            <% end %>
            <%= form_tag(heros_path, method: :get, class: "form flex-grow-1") do %>
              <div class="form-item">
                <i class="fa fa-search"></i>
                <%= text_field_tag(:search, params[:search], class: "form-control form-input", placeholder: "Search anything...") %>
                <span><i class="fa-solid fa-shield-halved fa-bounce" style="color: #9ca3af;"></i></span>
              </div>
            <% end %>
          </div>
        </div>
      </nav>

            <section class="bg-black">
          <style>
            .card-body::-webkit-scrollbar {
                display: none;
            }

            .form{

                  position: relative;
              }

              .form .fa-search{

                  position: absolute;
                  top:20px;
                  left: 20px;
                  color: #9ca3af;

              }

              .form span{

                      position: absolute;
                  right: 17px;
                  top: 13px;
                  padding: 2px;
                  border-left: 1px solid #d1d5db;

              }

              .left-pan{
                  padding-left: 7px;
              }

              .left-pan i{

                padding-left: 10px;
              }

              .form-input{

                  height: 55px;
                  text-indent: 33px;
                  border-radius: 10px;
              }

              .form-input:focus{

                  box-shadow: none;
                  border:none;
              }
          </style>


              <div class="container">
                <div class="d-flex justify-content-start mb-3 position-fixed bottom-0 start-0 p-5">
                  <%= link_to new_hero_path, class: "rounded-5 btn btn-outline-light btn-sm px-3 btn-circle", title: "Create" do %>
                    <i class="fas fa-plus">Create</i>
                  <% end %>
                </div>
                <div class="row">
                  <% @heros.each do |hero| %>
                    <div class="col-md-3 mb-3">
                      <div class="card rounded-5" style="background-color: #ffffff;">
                        <% if hero.image.attached? %>
                          <%= image_tag hero.image, class: "card-img-top rounded-top rounded-top-5", alt: "#{hero.name} Image" %>
                        <% else %>
                          <% hero_image_id = hero.id %>
                          <%= image_tag "hero#{hero_image_id % 16 + 1}.png", class: "card-img-top rounded-top rounded-top-5", alt: "#{hero.name} Image" %>
                        <% end %>
                        <div class="card-body p-3 d-flex flex-column justify-content-between" style="height: 250px; overflow-y: auto; font-family: 'Poppins', sans-serif;">
                          <div>
                            <h2 class="card-title h6 mb-2 text-center" style="font-size: 1.2rem; color: #333333;"><strong><%= hero.name %></strong></h2>
                            <p class="card-text text-muted" style="font-size: 1rem; color: #555555;"><strong>Power:</strong> <%= hero.power %></p>
                          </div>
                          <div>
                            <p class="card-text text-muted mb-1"><%= number_to_currency(hero.price, unit: '$') %></p>
                          </div>
                          <div>
                            <%= link_to "Rent", hero_path(hero), class: "rounded-4 btn btn-outline-light btn-lg px-3 mb-2 bg-black text-white" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </section>

            <nav aria-label="Numerous Page Navigation">
            <ul class="pagination justify-content-center bg-black mb-0">
              <% (1..@total_pages).each do |page| %>
                <li class="page-item <%= 'active' if page == @page_number %>">
                  <%= link_to page, heros_path(page: page), class: "page-link bg-black text-white" %>
                </li>
              <% end %>
            </ul>
          </nav>
