<h1>List of Heroes</h1>

<br>

<div>
    <% @heros.each do |hero| %>
      <h2><%= link_to hero.name, hero_path(hero) %></h2>
      <ul>
        <li><%= hero.description %></li>
        <li><%= hero.power %></li>
        <li><%= hero.city %></li>
        <li><%= hero.price %>$</li>
      </ul>
    <% end %>
</div>

<%= link_to "new", new_hero_path %>
