<h1><%= @hero.name %></h1>

<div>
  <%= @hero.description %>
  <%= @hero.power %>
  <%= @hero.city %>
  <%= @hero.price %>
</div>

<%= link_to "Edit", edit_hero_path %>
<%= link_to "Delete", hero_path(@hero), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%= link_to "Back to the heroes list", heros_path %>
