<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Herohub</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/flatpickr@4.6.6/dist/flatpickr.min.css' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/flatpickr@4.6.6/dist/flatpickr.min.js' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100 bg-black">
    <main class="flex-shrink-0">
      <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container px-5">
          <%= link_to "/", class: "navbar-brand" do %>
            <%= image_tag "logo.png", style: "height: 50px; width: auto;" %>
          <% end %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link" href="/heros">Heroes</a></li>
              <li class="nav-item"><a class="nav-link" href="/dashboard">Profile</a></li>
              <% if user_signed_in? %>
                <li class="nav-item"><%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
              <% else %>
                <li class="nav-item"><%= button_to "Login", new_user_session_path, class: "nav-link" %></li>
              <% end %>
            </ul>
                </div>
            </div>
        </nav>

        <div class="container px-5 text-white">
            <h2 class="text-white">Your Heroes</h2>
            <% if current_user %>
              <% @heros.where(user_id: current_user.id).each do |hero| %>
                <div class="hero">
                  <li><%= hero.name %></li>
                </div>
              <% end %>
            <% end %>
        </div>
<div class="container px-5 text-white">
  <h2>Pending Bookings</h2>
  <div class="booking text-white border mb-3 p-3">
  <% if @user.present? %>
    <% if @user.heros.present? %>
      <% @user.heros.each do |hero| %>
        <% hero.bookings.each do |booking| %>
            <h3><%= hero.name %></h3>
            <!-- Display booking details -->
            <p><strong>User:</strong> <%= booking.user.username %></p>
            <p><strong>Booking:</strong> <%= hero.name %> from <%= booking.start_date %> to <%= booking.end_date %></p>
            <!-- Add more details as needed -->
            <div class="booking-actions">
              <% if current_user.id == hero.user_id %>
                <% if booking.status == 'pending' %>
                  <%= simple_form_for booking do |f| %>
                    <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                    <%= f.submit 'Accept', class: 'btn btn-info' %>
                  <% end %>
                  <%= simple_form_for booking, html: { method: :patch, data: { confirm: 'Are you sure you want to reject this booking?' } } do |f| %>
                    <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                    <%= f.submit 'Reject', class: 'btn btn-light' %>
                  <% end %>
                <% else %>
                  <p class='booking-tag'><strong>Status:</strong> <%= booking.status %></p>
                <% end %>
              <% else %>
                <p class='booking-tag'>You don't have permission to accept or reject this booking</p>
              <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    </div>
    
    <% if @bookings.present? %>
      <h2>Your Requests</h2>
      <div class="booking text-white border mb-3 p-3">
      <% @bookings.each do |booking| %>
          <h3><%= booking.hero.name %></h3>
          <!-- Display booking details -->
          <p><strong>Your Request:</strong> <%= booking.hero.name %> from <%= booking.start_date %> to <%= booking.end_date %></p>
          <p><strong>Status:</strong> <%= booking.status %></p>
          <!-- Add more details as needed -->
          <div class="booking-actions">
            <% if booking.status == 'pending' %>
              <%= simple_form_for booking, html: { method: :patch, data: { confirm: 'Are you sure you want to cancel this booking?' } } do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'cancelled'} %>
                <%= f.submit 'Cancel', class: 'btn btn-light' %>
              <% end %>
            <% end %>
      <% end %>
    <% else %>
      <p>No pending requests from you.</p>
    <% end %>
  <% else %>
    <p>Please sign in to view your dashboard.</p>
  <% end %>
    </div>
</div>
      </main>
    </body>
</html>